*{
  
    margin: 0;
    padding: 0;
  
}
body{
  background-color:  #101427;
  color: #e2e2e2;
  overflow-x: hidden;

  /* font-family: 'Montserrat', sans-serif; */
  font-size: 24px;
  text-align: center;
  
}
